  .goal-container {
    background-color: rgb(76, 140, 156);
    color: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 8px 8px 0 0 rgb(0, 0, 0);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

.value-prop-container {
  background-color: rgb(7, 45, 36);
  color: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 8px 8px 0 0 rgb(0, 0, 0);
  width: 300px;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.containers-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}
