.goal-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.image-section {
  width: 1200px;
}
